{% extends "base.html" %}

{% block title %}
    Оценки, поставленные мной
{% endblock %}

{% block breadcumps %}
    <li><a href="{% url "home" %}">Главная</a></li>
    <li><a href="{% url "profile_info:all" %}">Профиль</a></li>
    <li class="active">Оценки, поставленные мной</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 body__right">
            <div class="row">

                {% for student_mark in student_marks %}
                    <div class="col-xs-6">
                        <div class="blocks">
                            <div>
                                <div class="show__marks">
                                    <a href="#">
                                        {{ student_mark }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% for subject_mark in subject_marks %}
                    <div class="col-xs-6">
                        <div class="blocks">
                            <div>
                                <div class="show__marks">
                                    <a href="#">
                                        {{ subject_mark }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% for teacher_mark in teachers_marks %}
                    <div class="col-xs-6">
                        <div class="blocks">
                            <div>
                                <div class="show__marks">
                                    <a href="#">
                                        {{ teacher_mark }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}