{% extends 'base.html' %}

{% block content %}
    <div class="row">
                <div class="col-sm-4 col-sm-offset-4 ">
                    <p class="bg-warning alert__top">
                        Выберите то, что хотите оценить
                    </p>
                </div>
            </div>
    <div class="row">
                <div class="col-sm-12 body__right">
                    <div class="row">
                        <div class="col-xs-6 ">
                            <div class="blocks">
                                <a href="teachers_rating.html">
                                    Преподаватели
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="blocks">
                                <a href="students_group.html">
                                    Cтуденты
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="blocks">
                                <a href="learning_plan.html">
                                    Учебный план
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="blocks">
                                <a href="npd_rating.html">
                                    Научно-практическая деятельность
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}